<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Login</h1>
<div th:replace="../fragments/menubar :: menubar"></div>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">
    <p>Id: <input type="email" th:field="*{email}"/></p>
    <p>Message: <input type="password" th:field="*{password}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
<form action="#" th:action="@{/register}" method="post">
    <input type="submit" value="Register"/>
</form>

</body>
</html>